/* Overrides for zaaksysteem/frontend */

/* appbar */

#contentwrapper {
  margin-top: 0;
  height: 100%;
}

.block-inner-scroll {
  top: 0;
}

.sysin-links-content.panel-component {
  top: 100px;
}

.ui-layout-pane {
  height: auto !important;
}

.ui-layout-resizer {
  height: 100% !important;
}

/* plus button */

.block {
  padding: 0 25px 25px;
}

.block-tabbed .block-content {
  padding: 1.5em 1.5em;
}

/* colors */

.breadcrumb,
.block-fullscreen .block-header,
.breadcrumb-in-header .breadcrumb,
.block-tabbed .block-header,
.ui-tabs .ui-widget-header {
  background: #fff;
}

a {
  color: #1274EB;
}

.ui-tabs .ui-widget-header {
  border-bottom: 1px solid #ddd;
}

.ui-tabs .ui-tabs-nav li {
  border: 1px solid #ddd;
  background-color: #eee;
}

.ui-tabs .ui-tabs-selected {
  border: 1px solid #fff;
  background-color: #fff !important;
}
